{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"/>
{% endblock %}

{% block content %}
<div class="container-lg py-3">
<div class="page-header">
  {% if object %}
    <h1>Edit {{object.name}}</h1>
  {% else %}
    <h1>Add a Pot</h1>
  {% endif %}
  <img src="{% static 'images/Leaves/Paper_Birch.png' %}" alt="Paper Birch" class='img-wrapper'/>
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-outline-secondary">Submit!</button>
</form>
</div>


{% endblock %}