{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/pDetail.css' %}"
/> 
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<section class="plant-container">
  <div class="plant-img">
    <img 
      class="plant-img"
      src="{% static 'images/Leaves/Paper_Birch.png' %}" 
      alt="A skater boy plant"
    >
  </div>
  <div class="plant-details">
    <h1>{{ plant.name }}</h1>
    <p>Year: {{ plant.age }}</p>
    <p>Origin: {{ plant.origin }}</p>
    <p>{{ plant.description }}</p>
    <div class="plant-actions">
      <a href="{% url 'plants_update' plant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plants_delete' plant.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</div>
</section>

{% endblock %}