{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/pDetail.css' %}"
/> 
<script defer src="{% static 'js/plant-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-lg py-3">
<div class="row">
<div class="col">
<section class="plant-container">
  <div class="plant-img">
  {% if plant.photo.url %}
      <img 
        src="{{plant.photo.url}}" 
        alt="A photo of {{plant.name}}"
        class="plant-img"
      >
    {% else %}
    <img 
      class="plant-img"
      src="{% static 'images/Leaves/Paper_Birch.png' %}" 
      alt="A skater boy plant"
    >
    {% endif %}
  </div>
  <div class="plant-details">
    <h1>{{ plant.name }}</h1>
    <p>Year: {{ plant.age }}</p>
    <p>Origin: {{ plant.origin }}</p>
    <p>{{ plant.description }}</p>
    <div class="plant-actions">
      <a href="{% url 'plants_update' plant.id %}" class="btn btn-outline-success">Edit</a>
      <a href="{% url 'plants_delete' plant.id %}" class="btn btn-outline-danger">Delete</a>
    </div>
    <h5 class='my-3'>Change {{ plant.name }}'s photo</h5>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' plant.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn btn-outline-success">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn btn-outline-success">Upload Photo</button>
    </form>
  </div>
  </section>
    </div>

  <div class="col my-4">
  <section class="water">
    <div >
      <h2>Watering</h2>
    </div>
    <h5 class="mt-6">Water the Plant!</h5>
    <form
      action="{% url 'add_water' plant.id %}"
      method="post" 
      class="subsection-content"
    >
    {% if plant.watered_for_today %}
        <p class="watered">{{plant.name}} has been watered for today!</p>
      {% else %}
        <p class="unwatered">{{plant.name}} might need more water!</p>
      {% endif %}
      {% csrf_token %}
      {{ water_form.as_p }}
      <button type="submit" class="btn btn-outline-secondary">Water</button>
    </form>
    <h5 class='my-3 mt-5'>Past Actions</h5>
    {% if plant.water_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Time</th></tr>
      </thead>
      <tbody>
        {% for water in plant.water_set.all %}
          <tr>
            <td>{{water.date}}</td>
            <td>{{water.get_time_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="subsection-content">{{plant.name}} has never been watered 😟</p>
    {% endif %}
  </section>
      </div>

<div class="col my-4">
  <section class="pots ">
    <div class="subsection-title">
      <h2>Pots</h2>
    </div>
    <h5>{{ plant.name }}'s Pots</h5>
    <div class="subsection-content">
      {% if plant.pots.count %}
        {% for pot in plant.pots.all %}
          <div class="pot-container">
            <div 
              class="color-block"
              style="background-color: {{ pot.color }}"
            ></div>
            <a  href="{% url 'pots_detail' pot.id %}">
              <p class="btn btn-outline-secondary">A {{ pot.color }} pot made in {{ pot.material }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-pots">{{plant.name}} doesn't have any pots 😞</p>
      {% endif %}
    </div>
    <h5 class='my-3'>Available Pots</h5>
    <div class="subsection-content">
      {% if pots.count %}
        {% for pot in pots.all %}
          <div class="pot-container">
            <div 
              class="color-block"
              style="background-color: {{ pot.color }}"
            ></div>
            <a  href="{% url 'pots_detail' pot.id %}">
              <p class="btn btn-outline-secondary">A {{ pot.color }} pot made in {{ pot.material }}</p>
            </a>
            <form action="{% url 'assoc_pot' plant.id pot.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-success mb-4">Give pot</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-pots">
          {{plant.name}} already has all the available pots 🥳
        </p>
      {% endif %}
    </div>
  </section>
  </div>
</div>
</section>
</div>
</div>

{% endblock %}