{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pIndex.css' %}"/>
{% endblock %}

{% block content %}
<div class="container-lg py-3">
<section class="page-header">
  <h1>All Plants</h1>
</section>

<section class="card-container">
  {% for plant in plants %}
    <div class="card py-3">
        <img src="{% static 'images/Leaves/Paper_Birch.png' %}" class="card-img-top" alt="plant">
        <div class="card-body">
        <h3 class="card-title">{{ plant.name }}</h3>
        <p>Year: {{ plant.age }}</p>
        <p>Origin: {{ plant.origin }}</p>
        <p class="card-text">{{ plant.description }}</p>
      </div>
      <a class='btn btn-outline-secondary' href="{% url 'plants_detail' plant.id %}">Details
      </a>
    </div>
  {% endfor %}
</div>
</section>

{% endblock %}