{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/p-Index.css' %}"/>
{% endblock %}

{% block content %}
<div class="container-lg py-3">
<section class="page-header">
  <h1>All Plants</h1>
</section>

<section class="card-container">
<div class="row">

  {% for plant in plants %}
  <div class="col-md-4">
    <div class="card py-3 mx-auto my-3">
    {% if plant.photo.url %}
              <img 
                src="{{plant.photo.url}}" 
                alt="A photo of {{plant.name}}"
                class="card-img-top"
              >
    {% else %}
        <img src="{% static 'images/Leaves/Paper_Birch.png' %}" class="card-img-top" alt="plant">
      {% endif %}
        <div class="card-body text-start">
        <h3 class="card-title">{{ plant.name }}</h3>
        <p>Year: {{ plant.age }}</p>
        <p>Origin: {{ plant.origin }}</p>
        <p class="card-text">{{ plant.description }}</p>
      </div>
      <a class='btn btn-outline-success' href="{% url 'plants_detail' plant.id %}">Details
      </a>
      </div>
    </div>
  {% endfor %}
</div>
</section>

{% endblock %}