{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/plant-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Cat List</h1>
  <img src="{% static 'images/cool-plant.svg' %}" alt="A cool plant" />
  <img src="{% static 'images/happy-plant.svg' %}" alt="A happy plant" />
  <img src="{% static 'images/teacup-plant.svg' %}" alt="A plant in a teacup" />
  <img src="{% static 'images/plant-in-box.svg' %}" alt="A plant in a box" />
</section>

<section class="card-container">
  {% for plant in cats %}
    <div class="card">
      <a href="{% url 'cats_detail' plant.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/sk8r-boi-plant.svg' %}" 
              alt="A skater boy plant"
            >
          </div>
          <h2 class="card-title">{{ plant.name }}</h2>
          {% if plant.age > 0 %}
            <p>A {{ plant.age }} year old {{ plant.breed }}</p>
          {% endif %}
          <p><small>{{ plant.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}