{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/Nature/LEAVES-SKRIBBL-T.png' %}"
  >
  <title>Plant Collector</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/b.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg" id='navbar'>
    <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img 
          src="{% static 'images/Leaves/Sugar_Maple.png' %}" 
          alt="The Plant Collector Logo"
          width="50" 
          class="d-inline-block align-text-top"
        >
      </a>
      <a class="navbar-brand" href="/"> Plant Collector</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" >
        <div class="navbar-toggler-icon"></div>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li><a class='nav-link' href="{% url 'plants_index' %}">All Plants</a></li>
          <li><a class='nav-link' href="{% url 'pots_index' %}">All Pots</a></li>
          <li><a class='nav-link' href="{% url 'plants_create' %}">Add a Plant</a></li>
          <li><a class='nav-link' href="{% url 'pots_create' %}">Add a Pot</a></li>
          <li><a class='nav-link' href="{% url 'about' %}">About</a></li>
      </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>